.statList {
  display: flex;
  gap: 25px;
  padding: 15px;
}
.statListItem {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0px 1px 38px -18px rgb(16, 54, 35);
}
.itemLabel {
  font-size: 18px;
  line-height: 1.1;
  font-weight: 500;
}
.itemPercentage {
  line-height: 1.1;
  font-weight: 400;
}
